body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* HEADER */
.main-header {
  background: rgba(94, 93, 88, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.main-header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-link {
  color: #ffffff99;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.turquoise-color {
  color: #18cfab;
}
.header-navbar-item:first-child {
  flex-grow: 1;
}
.header-navbar-item:last-child::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/svg/Search-icon-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  color: inherit;
  width: 20px;
  height: 20px;
}
.navbar-link:not(.header-logo):hover {
  color: #18cfab;
  border-bottom: 3px solid #18cfab;
  padding-bottom: 50px;
}

/* FIRST SECTION */
.home-page {
  background-image: url(../img/Sections-background/section-1\(header\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  min-height: 1012px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-title {
  font-weight: 700;
  font-size: 35px;
}

.home-page-slogan {
  font-weight: 700;
  font-size: 78px;
}
.home-page-text {
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 135px;
  text-transform: none;
}
.home-page-button {
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  border-top: 3px solid #ffffff;
}
.home-page-button:not(:last-child) {
  margin-right: 25px;
}
.explore {
  background: #18cfab;
}
.purchase {
  background: #00cbf6;
}
.explore:active {
  transform: translateY(-3px);
  border: none;
}
.purchase:active {
  transform: translateY(-3px);
  border: none;
}
.services-section {
  margin-top: 1px;
  margin-bottom: 90px;
}

/* OPTION LIST */
.option-list {
  display: flex;
  margin-bottom: 80px;
}
.option-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  width: 25%;
  min-height: 375px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.option-list-item:nth-child(odd) {
  background: #1c2a33;
  color: #18cfab;
}
.option-list-item:nth-child(even) {
  background: #18cfab;
  color: #ffffff;
}
.purchase-section {
  background: url(../img/Sections-background/section-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  text-align: center;
  padding-top: 100px;
  min-height: 478px;
}
.purchase-section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #18cfab;
  text-transform: uppercase;
}
.purchase-section-text {
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
  padding-bottom: 65px;
}
.purchase-section-button {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  background: #18cfab;
  padding: 15px;
  border-radius: 5px;
  border-top: 3px solid #ffffff;
}
.purchase-section-button:active {
  border: none;
  transform: translateY(-3px);
}
/* section and underline style */
.section-title {
  color: #4e4e4e;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  position: relative;
}
.section-title::after {
  display: block;
  content: "";
  width: 80px;
  background-color: #18cfab;
  height: 1px;
  position: absolute;
  bottom: -25px;
  left: 47%;
}
.section-title::before {
  display: block;
  content: "";
  width: 80px;
  background-color: #18cfab;
  height: 1px;
  position: absolute;
  bottom: -30px;
  left: 48%;
}
/* OUR SERVICES styles */
.services-title {
  margin-top: 70px;
  position: relative;
  display: flex;
  background: #f8fcfe;
  cursor: pointer;
  margin-bottom: 30px;
}
.services-item {
  border: 0.5px solid #f2f2f2;
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-height: 70px;
  justify-content: center;
  color: #717171;
  font-size: 16px;
  line-height: 39px;
}
.services-item-active {
  border: none;
  background: #18cfab;
  color: #ffffff;
}
.services-item:hover {
  border: 1px solid #18cfab;
}
.services-item-active::after {
  position: absolute;
  bottom: -15px;
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #18cfab;
}
.services-item-active:hover {
  border: none;
}
.services-wrapper {
  display: flex;
}
.services-text {
  display: none;
  margin-left: 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

.services-text-active {
  display: flex;
}
.services-img {
  display: none;
}
.services-img-active {
  display: flex;
}
/* OUR WORK Section */
.work-section {
  text-align: center;
  background: #e9edef;
  padding-top: 95px;
  padding-bottom: 100px;
}
.work-list {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.0001);
  margin-bottom: 70px;
}
.work-items {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  border: 0.5px solid #dadada;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
  cursor: pointer;
}
.work-items:hover {
  color: #18cfab;
}
.work-items-active {
  border: 1px solid #18cfab;
  color: #18cfab;
}
.work-section-button {
  padding: 15px;
  background: #18cfab;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
}
.work-section-button::before {
  content: "";
  background: url(../img/svg/plus-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  color: #ffffff;
  margin-right: 15px;
  position: relative;
  bottom: 2px;
}
/* hover block for OUR WORK*/
.hiden-work-block {
  background: #e9edef;
  display: none;
  width: 100%;
  height: 211px;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
}
.hiden-block-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #18cfab;
}
.hiden-block-subtitle {
  color: #8a8a8a;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
}
.hiden-block-link {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}
.link-btn-1 {
  padding: 12px;
  border-radius: 50%;
  border: 1px solid #18cfab;
}
.link-btn-2 {
  position: relative;
}
.link-btn-2::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 16px;
  background: #ffffff;
}
.work-images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.work-images li {
  position: relative;
}
.work-images li:hover .hiden-work-block {
  display: flex;
  border-top: 2px solid #18cfab;
}
/* news section */
.breaking-news-section {
  padding-top: 80px;
  padding-bottom: 120px;
}
.breaking-news-items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.breaking-news-item {
  position: relative;
}
.breaking-news-text {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
}
.breaking-news-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #777777;
}
.news-link-after::after {
  content: "|";
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
/* data absolute block */
.news-data-square {
  position: absolute;
  top: 0;
  right: 0;
  background: #203e38;
  min-width: 70px;
  min-height: 70px;
}
.news-data {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
}
.news-data:first-of-type {
  padding-top: 10px;
}
.breaking-news-item:hover .breaking-news-text {
  color: #18cfab;
}
.breaking-news-item:hover .news-data-square {
  background: #18cfab;
}
/* feedback */
.clients-feedback {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../img/Sections-background/section-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}
.clients-feedback .section-title {
  color: #ffffff;
}
.feedback-content-wrapper {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.feedback-content {
  display: none;
}
.feedback-content-active {
  display: block;
}
.feedback-text {
  margin-top: 35px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
}
.feedback-creator {
  margin-top: 35px;
  text-transform: uppercase;
  color: #18cfab;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}
.feedback-creator-profession {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
}
.feedback-creator-photo {
  margin-top: 40px;
  border-radius: 50%;
  border: 10px solid rgba(24, 207, 171, 0.2);
}

.carousel-wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.carousel-btn {
  border: 1px solid #ffffff;
  width: 30px;
  height: 30px;
}
.carousel-btn img {
  position: relative;
  top: 1px;
}
.reduce-btn img {
  position: relative;
  right: 1px;
}
.increase-btn img {
  position: relative;
  left: 1px;
}
.carousel-btn:hover {
  background: #18cfab;
}
.carousel-items {
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.carousel-item img {
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid rgba(24, 207, 171, 0.5);
}
.carousel-item-active {
  position: relative;
  bottom: 10px;
}

/* footer */
.main-footer {
  min-height: 121px;
  background: #22353f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
.footer-copyright .turquoise-color::after {
  content: "|";
  display: inline-block;
  padding-left: 3px;
  color: #aeaeae;
}
/*загрузка*/
.loader {
  max-width: 50%;
}
div.loader {
  margin: 30px auto 0;
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #e9edef;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 153, 212, 0) calc(15% + 100px),
    rgba(0, 99, 138, 0) calc(85% + 100px),
    rgba(0, 0, 0, 0.15) 100%
  );
}
.loader > div {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  margin: 2vw;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
  animation-delay: 0.1s;
}

.blue {
  background-color: blue;
  animation-delay: 0.2s;
}

.violet {
  background-color: violet;
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}
